<div class="container">
  <h1>Your upcoming booking(s)</h1>

  <br>
  <ul>
 <% @bookings.each do |booking| %>
  <li><%= link_to "#{booking.start_date.strftime('%m/%d/%Y')} - #{booking.end_date.strftime('%m/%d/%Y')}", booking_path(booking) %></li>
<% end %>
  </ul>

</div>
